[submodule "backend-submodule"]
	path = backend-submodule
	url = https://github.com/miguelrivasmorantes/apiExpress_equipo3.git
[submodule "Frontend-submodule"]
	path = Frontend-submodule
	url = https://github.com/Alejandrojuarez0105/FrontendApiExpress.git
